<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.title}">Товар</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <strong>Детальная информация</strong>
    <a class="header-link" href="/products">Назад к каталогу</a>
</header>

<main class="main-product-details">
    <section class="product-layout">
        <div>
            <img class="product-image" th:src="${product.imageUrl}" th:alt="${product.title}">
        </div>

        <div>
            <h1 th:text="${product.title}">Название товара</h1>

            <p th:text="${product.description}">
                Описание товара
            </p>

            <div class="price">
                <span th:text="${product.price}">0.00</span> ₽
            </div>

            <a class="button" th:href="@{/feedback(productId=${product.id})}">
                Написать администратору
            </a>
            <a class="button secondary" href="/products">К каталогу</a>
        </div>
    </section>
</main>

</body>
</html>